<div class="right-col__tag-wrapper">
  <div class="right-col__tag-container">
    <div class="right-col__tag-title">TAGS</div>
    <div class="right-col__tag-body">
      <div *ngFor="let tag of tags" class="right-col__tag-item">
        {{tag.value}}
      </div>
    </div>
  </div>
</div>