<div class="summary-box__one-container">
  <div class="summary-box__one-body">
    <div class="summary-box__one-img">
      <img src="../../../assets/imgs/dummy/graphics/desk.jpg">
    </div>
    <div class="summary-box__one-text_box">
      <div>
        <div class="summary-box__one-title">
          {{title}}
        </div>
        <div class="summary-box__byline">Apr 7, 2018 in <a class="summary-box__byline-category-link">{{categoryDisplay}}</a></div>
        <div class="summary-box__one-text"> {{text}}
        </div>
        <div class="summary-box__one-button">
          <div (click)="navigate()" class="btn-outline">Read More</div>
        </div>
      </div>
    </div>
  </div>
</div>
