<div class="about__container">
  <div class="grid">
    <div class="about__body">
      <h1>Dad didn't leave… When he comes back from the store, he's going to wave those pop-tarts right in your face!</h1>
      <p>No children have ever meddled with the Republican Party and lived to tell about it. I hope this has taught you kids
        a lesson: kids never learn. Kids, we need to talk for a moment about Krusty Brand Chew Goo Gum Like Substance. We
        all knew it contained spider eggs, but the hantavirus? That came out of left field. So if you're experiencing numbness
        and/or comas, send five dollars to antidote, PO box…</p>
      <p>Yes! I am a citizen! Now which way to the welfare office? I'm kidding, I'm kidding. I work, I work.
        <strong> And now, in the spirit of the season: start shopping.</strong>
        <em> And for every dollar of Krusty merchandise you buy, I will be nice to a sick kid.</em> For legal purposes, sick kids
        may include hookers with a cold.</p>
      <h2>Brace yourselves gentlemen. According to the gas chromatograph, the secret ingredient is… Love!? Who's been screwing
        with this thing?</h2>
      <p>I stand by my racial slur. Brace yourselves gentlemen. According to the gas chromatograph, the secret ingredient is…
        Love!? Who's been screwing with this thing? Me fail English? That's unpossible.</p>
      <p>This is the greatest case of false advertising I've seen since I sued the movie "The Never Ending Story." Remember
        the time he ate my goldfish? And you lied and said I never had goldfish. Then why did I have the bowl, Bart? *Why
        did I have the bowl?*</p>
      <h3>I'm a Spalding Gray in a Rick Dees world.</h3>
      <p>Kids, we need to talk for a moment about Krusty Brand Chew Goo Gum Like Substance. We all knew it contained spider
        eggs, but the hantavirus? That came out of left field. So if you're experiencing numbness and/or comas, send five
        dollars to antidote, PO box… We started out like Romeo and Juliet, but it ended up in tragedy.</p>
      <p>Mrs. Krabappel and Principal Skinner were in the closet making babies and I saw one of the babies and then the baby
        looked at me. I'm going to the back seat of my car, with the woman I love, and I won't be back for ten minutes!</p>
      <p>Don't kid yourself, Jimmy. If a cow ever got the chance, he'd eat you and everyone you care about! Remember the time
        he ate my goldfish? And you lied and said I never had goldfish. Then why did I have the bowl, Bart? *Why did I have
        the bowl?*</p>
      <p>Slow down, Bart! My legs don't know how to be as long as yours. I like my beer cold, my TV loud and my homosexuals
        flaming. I hope I didn't brain my damage. I've done everything the Bible says — even the stuff that contradicts the
        other stuff!</p>
      <p>Please do not offer my god a peanut. Lisa, vampires are make-believe, like elves, gremlins, and Eskimos. This is the
        greatest case of false advertising I've seen since I sued the movie "The Never Ending Story."</p>
      <p>Marge, you being a cop makes you the man! Which makes me the woman — and I have no interest in that, besides occasionally
        wearing the underwear, which as we discussed, is strictly a comfort thing. Ahoy hoy?</p>
      <p>Jesus must be spinning in his grave! They only come out in the night. Or in this case, the day. Whoa, slow down there,
        maestro. There's a *New* Mexico? Please do not offer my god a peanut. Old people don't need companionship. They need
        to be isolated and studied so it can be determined what nutrients they have that might be extracted for our personal
        use.
      </p>
      <p>The Internet King? I wonder if he could provide faster nudity… Lisa, vampires are make-believe, like elves, gremlins,
        and Eskimos. Oh, a *sarcasm* detector. Oh, that's a *really* useful invention!</p>
      <p>Beer. Now there's a temporary solution. But, Aquaman, you cannot marry a woman without gills. You're from two different
        worlds… Oh, I've wasted my life. D'oh. Well, he's kind of had it in for me ever since I accidentally ran over his
        dog. Actually, replace "accidentally" with "repeatedly" and replace "dog" with "son."</p>
      <p>Hi. I'm Troy McClure. You may remember me from such self-help tapes as "Smoke Yourself Thin" and "Get Some Confidence,
        Stupid!" They only come out in the night. Or in this case, the day. I didn't get rich by signing checks.</p>
      <p>Fire can be our friend; whether it's toasting marshmallows or raining down on Charlie. Me fail English? That's unpossible.
        Get ready, skanks! It's time for the truth train! Stan Lee never left. I'm afraid his mind is no longer in mint condition.</p>
      <p>I'm a Spalding Gray in a Rick Dees world. "Thank the Lord"? That sounded like a prayer. A prayer in a public school.
        God has no place within these walls, just like facts don't have a place within an organized religion.</p>
      <p>Last night's "Itchy and Scratchy Show" was, without a doubt, the worst episode *ever.* Rest assured, I was on the Internet
        within minutes, registering my disgust throughout the world. They only come out in the night. Or in this case, the
        day.
      </p>
    </div>

  </div>

</div>
