<div class="summary-box__three-container">
  <div class="grid">
    <div class="col-6-12">
      <div class="placer-color" style="height: 220px; width:100%;">
        left
      </div>
    </div>
    <div class="col-6-12">
      <div class="placer-color" style="height: 100px; width:100%;">right</div>
      <div class="spacer"></div>
      <div class="placer-color" style="height: 100px; width:100%;">right</div>
    </div>
  </div>
</div>
