<div class="right-col__post-wrapper">
  <div class="right-col__post-container">
    <div class="right-col__post-title">POPULAR POSTS</div>
    <div class="right-col__post-body">
      <div *ngFor="let post of posts |async" class="right-col__post-item" (click)="navigate(post?.id)">
        {{post?.title}}
      </div>
    </div>
    <!-- <div class="right-col__post-row">
      <div class="right-col__post-box">
        <div class="right-col__post-box_img">
          <img src="../../assets/imgs/dummy/170x85.png">
        </div>
        <div class="right-col__post-box-text">Generic Title</div>
      </div>
      <div class="right-col__post-box">
        <div class="right-col__post-box_img">
          <img src="../../assets/imgs/dummy/170x85.png">
        </div>
        <div class="right-col__post-box-text">Generic Title</div>
      </div>
    </div>
    <div class="right-col__post-row">
      <div class="right-col__post-box">
        <div class="right-col__post-box_img">
          <img src="../../assets/imgs/dummy/170x85.png">
        </div>
        <div class="right-col__post-box-text">Generic Title</div>
      </div>
      <div class="right-col__post-box">
        <div class="right-col__post-box_img">
          <img src="../../assets/imgs/dummy/170x85.png">
        </div>
        <div class="right-col__post-box-text">Generic Title</div>
      </div>
    </div> -->
  </div>
</div>
