<!-- <nav>
  <div class="nav-item">
    <a routerLink="/home" routerLinkActive="active">HOME</a>
  </div>
  <div class="nav-item">
    <a routerLink="/archive" routerLinkActive="active" (mouseenter)="showMenu()" (mouseleave)="showMenu()">ARCHIVE</a>
    <dropdown *ngIf="isMenuEnabled"></dropdown>
  </div>
  <div class="nav-item">
    <a routerLink="/about" routerLinkActive="active">ABOUT</a>
  </div>
  <form style="position:absolute; right: 20px;">
    <input type="text" name="search" placeholder="Search..">
  </form>
</nav> -->
