<div class="post__wrapper">
  <!-- <div class="post__share-box-wrapper">
    <div class="post__share-box">
        <i class="fab fa-facebook-square post__share-box__social-icon"></i>
        <i class="fab fa-twitter-square post__share-box__social-icon"></i>
        <i class="far fa-envelope post__share-box__social-icon"></i>
        <i class="fas fa-print post__share-box__social-icon"></i>
    </div>
  </div> -->
  <div class="grid grid-pad">
    <div class="col-9-12">
      <div class="post__container">
        <div class="post__title-container">
          <div class="post__title">{{postByID?.title}}</div>
          <div class="post__byline">March 28, 2018 in Category</div>
        </div>
        <div class="post__body">
          <div class="post__header">{{postByID?.text}}</div>
          <div class="post__paragraph">Lorizzle bow wow wow dolizzle sit amizzle, things adipiscing doggy. Nullam pizzle velit, bow wow wow volutpizzle,
            suscipizzle quis, fo shizzle vizzle, arcu. Pellentesque egizzle tortizzle. The bizzle eros. Pizzle izzle dolor
            dapibus turpis tempizzle tempor. Break it down fo crunk stuff da bomb. Dawg izzle tortor. Pellentesque check
            it out rhoncus pimpin'. In hac habitasse fo its fo rizzle. I saw beyonces tizzles and my pizzle went crizzle
            dapibizzle. Own yo' tellus urna, pretizzle eu, ass we gonna chung, eleifend vitae, gizzle. Fo shizzle mah nizzle
            fo rizzle, mah home g-dizzle suscipizzle. Brizzle sempizzle velit shizzle my nizzle crocodizzle purus.
          </div>
          <div class="post__paragraph">
            Phasellizzle pot volutpizzle tellus. Ut pot you son of a bizzle lorizzle. Tellivizzle nizzle est. Nulla sapizzle massa, ultrices
            nec, accumsan break it down, fermentum quizzle, pede. Duis nizzle its fo rizzle. Etiam pizzle ornare ante. Crunk
            get down get down. Vestibulizzle boom shackalack pede nibh rizzle commodo. Lorem we gonna chung dolizzle sizzle
            pot, pot sizzle stuff. Sizzle ac pot. Quisque fo ma nizzle, sodales et, gangster a, fo shizzle my nizzle a, bizzle.
          </div>
          <div class="post__section-header" [innerHTML]="testHTML"></div>
          <div class="post__paragraph">
            Away the bizzle dizzle quizzle nisi fo shizzle mollizzle. Fo shizzle potenti. Morbi odio. Vivamizzle neque. Cras shiz. Tellivizzle
            da bomb mauris, own yo' a, feugizzle sit hizzle, malesuada izzle, ghetto. Pellentesque gravida. Vestibulizzle
            dope mi, break yo neck, yall bow wow wow, sagittizzle sed, shiz sempizzle, velit. Crizzle crunk pot. Fo shizzle
            mah nizzle fo rizzle, mah home g-dizzle volutpizzle felis vel orci. Cras quizzle justo i saw beyonces tizzles
            and my pizzle went crizzle purizzle dizzle ornare. Gangsta venenatizzle dizzle izzle shizzle my nizzle crocodizzle.
            Nunc urna. Suspendisse dope placerizzle shiz. Phat eu ante. Dawg pharetra, shut the shizzle up eu dapibus hendrerizzle,
            mammasay mammasa mamma oo sa felis dang sem, izzle aliquizzle away felizzle luctizzle pede. Nizzle phat that's
            the shizzle. Class crazy bling bling sure izzle torquent per ghetto nostra, pizzle inceptizzle hymenizzle. Aliquam
            interdizzle, hizzle nizzle elementum daahng dawg, away orci viverra leo, sempizzle shizzlin dizzle arcu a sizzles
          </div>
          <div class="post__paragraph">
            Owned posuere rizzle mauris. Phasellizzle yippiyo elizzle ut the bizzle i'm in the shizzle tincidunt. Maecenizzle away erizzle.
            Vestibulum in gangsta sizzle bizzle elementizzle dizzle. Nunc uhuh ... yih! tortizzle its fo rizzle amet eros
            ultricizzle porta. In velit fizzle, rizzle izzle, hendrerizzle izzle, adipiscing quizzle, dui. Etizzle shiznit
            leo, shit consequizzle, pharetra pimpin', dictizzle sizzle, boom shackalack. Vivamizzle neque. Cras lorem. Prizzle
            vitae erat pot libero commodo shizzle my nizzle crocodizzle. Pot ac augue eu shiznit ullamcorper ass. Phasellizzle
            fo shizzle sapizzle non erat. Fizzle lorizzle yo, go to hizzle fo, mattis owned, the bizzle nec, things. Donizzle
            faucibizzle mah nizzle black. Nunc feugizzle, dang crackalackin its fo rizzle tempor, sapien for sure tincidunt
            ante, dapibizzle pede gangsta crazy lorizzle. Crunk quizzle leo, black bow wow wow, tempizzle go to hizzle, sempizzle
            da bomb, sapizzle. Cool mollizzle magna vel ipsum. Sizzle ante nibh, you son of a bizzle vitae, vestibulizzle
            et, rutrum my shizz, velizzle. Maurizzle ma nizzle break it down. Sizzle non magna sizzle amizzle bow wow wow
            mofo congue.
          </div>
          <div class="post__paragraph">
            Things izzle mi. Nam erizzle. Brizzle rizzle, turpizzle nizzle congue consectetuer, fo shizzle my nizzle libero uhuh ...
            yih! crazy, eget ullamcorper dui sure nizzle quam. Black faucibus elizzle. Dizzle nibh tellivizzle, consequat
            sed, shizznit things, porttitizzle boofron, tellizzle. Prizzle you son of a bizzle urna. Crizzle dang mi boom
            shackalack nibh. Da bomb hendrerizzle euismod felis. Donec bow wow wow da bomb a erat. The bizzle posuere tellivizzle
            pizzle. Ut mauris. Sed nisl metus, euismod izzle, eleifend sed, sure vizzle, you son of a bizzle. Vivamizzle
            vulputate consectetizzle mofo.
          </div>
          <div class="post__section-header" [innerHTML]="testHTML"></div>
          <div class="post__paragraph">
            Crizzle shut the shizzle up pede et daahng dawg. Cizzle pot fizzle penatibus et yo dizzle we gonna chung pimpin', nascetizzle
            ridiculizzle shizzlin dizzle. Ut purizzle yippiyo, molestie quis, convallis ac, sollicitudizzle fo shizzle, urna.
            Mauris viverra urna shit gangster. Donec things. Shut the shizzle up uhuh ... yih! orci, crackalackin a, aliquam
            a, funky fresh izzle, ipsum. Crizzle imperdiet, yo sit amizzle for sure gravida, mofo lectizzle ornare enizzle,
            hendrerizzle nunc est my shizz shiznit. Pellentesque quis my shizz. Shiznit nonummy dolor sizzle metizzle. Nulla
            facilisi.
          </div>
        </div>
      </div>
      <div class="post__sharebar">
        <div (click)="showCommentForm()">
          <i class="far fa-comment-alt post__comment-icon"></i>
          <i class="fab fa-facebook-square post__comment-icon"></i>
          <i class="fab fa-twitter-square post__comment-icon"></i>
          <i class="far fa-envelope post__comment-icon"></i>
          <i class="fas fa-print post__comment-icon"></i>
        </div>
      </div>

      <div *ngIf="isCommentFormVisible" class="post__comment_form-container">
        <form [formGroup]="commentForm" (ngSubmit)="submitComment(commentForm.value)">
          <fieldset class="post__comment_form-body">
            <div>
              <div class="post__comment_form-component">
                <label for="comment">Comment:</label>
                <textarea rows="4" cols="50" formControlName="comment"></textarea>
              </div>
              <div style="display:flex">
                <div class="post__comment_form-component">
                  <label for="name">Name:</label>
                  <input type="text" formControlName="name" placeholder="Name">
                </div>
                <div class="post__comment_form-component">
                  <label for="email">Email:</label>
                  <input type="text" formControlName="email" placeholder="Email">
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="reset" class="btn btn-default">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="post__comment_list-container">
        <!--*ngIf="isCommentListVisible"-->
        <div class="post__comment_list-body">
          <div class="post__comment_list-title">
            {{commentSize}} Comments
          </div>
          <div *ngFor="let comment of comments | async" class="post__comment_list-comment_box">
            <div class="post__comment_list-img">
              <img src="../../assets/imgs/dummy/50x50.png">
            </div>
            <div class="post_comment_list_comment_row">
              <div class="post__comment_list-name">{{comment.name}}</div>
              <div class="post__comment_list-comment">{{comment.comment}}</div>
              <div>
                <i class="fas fa-chevron-up"></i>
                <i class="fas fa-chevron-down"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="col-3-12">
      <app-right-column></app-right-column>
    </div>
  </div>
</div>

<!-- <div [innerHTML]="post.text"></div> -->
<!-- </div>
  <div class="row">
    <div class="col-3" style="background-color:lightblue;">
      Suggestion 1
    </div>
    <div class="col-3" style="background-color:lightblue;">
      Suggestion 2
    </div>
    <div class="col-3" style="background-color:lightblue;">
      Suggestion 3
    </div>
    <div class="col-3" style="background-color:lightblue;">
      Suggestion 4
    </div>
  </div>

</div> -->
