<div class="container">
  <div class="row">Some days you get the bear, and some days the bear gets you. Maybe if we felt any human loss as keenly as we feel one of
    those close to us, human history would be far less bloody. I'm afraid I still don't understand, sir. I will obey your
    orders. I will serve this ship as First Officer. And in an attack against the Enterprise, I will die with this crew.
    But I will not break my oath of loyalty to Starfleet. Damage report! Earl Grey tea, watercress sandwiches... and Bularian
    canapés? Are you up for promotion? Flair is what marks the difference between artistry and mere competence. I'll alert
    the crew. Well, that's certainly good to know.
  </div>
  <form [formGroup]="contactForm" (ngSubmit)="sendEmail(contactForm.value)"> 
    <fieldset>
      <div>
        <label for="subject">Subject</label>
        <input type="text" formControlName="title" placeholder="Subject">
        <label for="body">Body</label>
        <input type="text" formControlName="body" placeholder="I have a question...">
      </div>
      <div class="form-group">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </fieldset>
  </form>
  <p>Form value {{ contactForm.value | json }} </p>
     <p> Form status {{ contactForm.status | json}} </p>
</div>
