<div class="summary-box__three-container">
  <div class="grid">
    <div class="col-6-12">
      <img src="../../../assets/imgs/dummy/400x250.png">
    </div>
    <div class="col-6-12">
      <div class="placer-color" style="height: 100px; width:100%;">right</div>
    </div>
  </div>
  <div class="grid">
    <div class="col-6-12">
      <img src="../../../assets/imgs/dummy/400x250.png">
    </div>
    <div class="col-6-12">
      <div class="placer-color" style="height: 100px; width:100%;">right</div>
    </div>
  </div>
  <div class="grid">
    <div class="col-6-12">
      <img src="../../../assets/imgs/dummy/400x250.png">
    </div>
    <div class="col-6-12">
      <div class="placer-color" style="height: 100px; width:100%;">right</div>
    </div>
  </div>
  <div class="grid">
    <div class="col-6-12">
      <img src="../../../assets/imgs/dummy/400x250.png">
    </div>
    <div class="col-6-12">
      <div class="placer-color" style="height: 100px; width:100%;">right</div>
    </div>
  </div>
  <div class="grid">
    <div class="col-6-12">
      <img src="../../../assets/imgs/dummy/400x250.png">
    </div>
    <div class="col-6-12">
      <div class="placer-color" style="height: 100px; width:100%;">right</div>
    </div>
  </div>
</div>
