<div class="right-col__social-container">
  <div class="right-col__social-body">
    <i class="fab fa-facebook-square right-col__social-icon"></i>
    <i class="fab fa-linkedin right-col__social-icon"></i>
    <i class="fab fa-twitter-square right-col__social-icon"></i>
    <i class="fab fa-gitlab right-col__social-icon"></i>
  </div>
</div>