<div class="category__container">
  <div class="category__header">
    <div class="category__header-title">
      <img src="../../assets/imgs/dev-tips.png">
    </div>
  </div>
  <div class="main__category-content">
    <div class="grid grid-pad">
      <div class="col-9-12">
          <!-- <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner> -->
        <div class="main__feed-container">
          <div class="category__row">
            <div *ngFor="let post of posts" class="category__post-box" (click)="navigate(post.id)">
              <div class="category__post-box_img">
                <!-- <img src="../../assets/imgs/dummy/250x220.png"> -->
              </div>
              <div class="category__post-box-text">{{post?.title}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3-12">
        <app-right-column></app-right-column>
      </div>
    </div>
  </div>
</div>
