@import "../../../assets/_variables";
.main__page_num-wrapper{
    background-color: $white-background-color;
}

.main__page_num-container {
    display: flex;
    justify-content: center;
}

.main__page_num-item{
    background-color: $secondary-accent-color;
    text-align: center;
    padding: 10px 20px;
    margin-right: 15px;
    color: $white-font-color;
    &:hover{
        background-color: #dc0858;
        box-shadow: $border-shadow;
    }
}