<div class="main__page_num-wrapper">
  <div class="main__page_num-container">
    <div class="main__page_num-item">
      1
    </div>
    <div class="main__page_num-item">
      2
    </div>
  </div>
</div>