<header class="header__wrapper">
  <div class="header__nav-wrapper">
      <div class="header__mobile-menu-wrapper">
        <div class="header__mobile-menu-icon-wrapper">
            <i class="fas fa-bars" (click)="showMenu()"></i>
        </div>
          <dropdown *ngIf="isMenuEnabled" class="dropdown__container"></dropdown>
      </div>
    <div class="header__nav-item hover-effect-1">
      <a routerLink="/home" routerLinkActive="active">HOME</a>
    </div>
    <div class="header__nav-item hover-effect-1">
      <a [routerLink]="['/category', 'dev-tips']" routerLinkActive="active">DEV TIPS</a>
    </div>
    <div class="header__nav-item hover-effect-1">
      <a [routerLink]="['/category', 'soft-skills']" routerLinkActive="active">SOFT SKILLS</a>
    </div>
    <div class="header__diamond-wrapper" (mouseenter)="showTitle()" (mouseleave)="showTitle()">
      <div class="header__logo-wrapper">
        <i *ngIf="!isTitleShown" class="fas fa-tv"></i>
        <div *ngIf="isTitleShown"class="header__title-wrapper">
          <div class="header__title">Jamie's Blog Title</div>
        </div>
        <!--*ngIf="isTitleShown"-->
      </div>
      <div class="header__diamond"></div>
    </div>
    <div class="header__nav-item hover-effect-1">
      <a [routerLink]="['/category', 'mental-health']" routerLinkActive="active">MENTAL HEALTH</a>
    </div>
    <div class="header__nav-item hover-effect-1">
      <a routerLink="/about" routerLinkActive="active">ABOUT</a>
    </div>
    <div class="header__nav-item hover-effect-1">
      <a routerLink="/contact" routerLinkActive="active">CONTACT</a>
    </div>
  </div>
  <!-- <div class="search" (click)="toggleSearch()" [ngClass]="{'open' : isSearchOpen}">
      <input type="search" class="search-box" />
      <span class="search-button">
        <span class="search-icon"></span>
      </span>
    </div> -->
    <!-- <app-search></app-search> -->
</header>
<router-outlet></router-outlet>
<footer class="footer__container">
  <div class="footer__row grid">
    <div class="col-1-3">
      <ul>
        <li *ngFor="let post of posts | async">
          {{post.title}}
        </li>
      </ul>
    </div>
    <div class="col-1-3">
      col 2
    </div>
    <div class="col-1-3">
    </div>
  </div>
  <div class="footer__nav">
    <div class="footer__nav_container">
      <!-- <div class="footer__nav_item">
        <a>ABOUT</a>
      </div>
      <div class="footer__nav_item">
        <a>CONTACT</a>
      </div>
      <div class="footer__nav_item">
        <a>RESOURCES</a>
      </div> -->
    </div>
    <div class="footer__social-body">
      <i class="fab fa-facebook-square footer__social-icon"></i>
      <i class="fab fa-linkedin footer__social-icon"></i>
      <i class="fab fa-twitter-square footer__social-icon"></i>
      <i class="fab fa-gitlab footer__social-icon"></i>
    </div>
  </div>
</footer>




<!-- <header class="header__container-wrapper"> -->
<!--[ngClass]="{'header__container-fixed': isScrolled}" appSticky (scrollPosition)="scrollChanged($event)"-->
<!-- <div class="header__topbar" style="height:40px;">
        <div class="header__nav-top">
            <div class="header__nav-item-top">HOME</div>
            <div class="header__nav-item-top">ABOUT</div>
            <div class="header__nav-item-top">CONTACT</div>
        </div> 
      </div>-->
<!-- <div class="header__container" [class.fixed]="isScrolled"> -->
<!-- <div class="header__logobar">
      <img src="../assets/imgs/title.png">
    </div> -->
<!-- <nav class="header__nav">
      <div class="header__nav-item">
        <a routerLink="/home" routerLinkActive="active">HOME</a>
      </div>
      <div class="header__nav-item" (mouseenter)="showMenu()" (mouseleave)="showMenu()">
        <a [routerLink]="['/category', 'dev-tips']" routerLinkActive="active">DEV TIPS</a> -->
<!-- <dropdown *ngIf="isMenuEnabled" class="dropdown__container"></dropdown> -->
<!--*ngIf="isMenuEnabled"-->
<!-- </div>
      <div class="header__nav-item">
        <a routerLink="/category/soft-skills" routerLinkActive="active">SOFT SKILLS</a>
      </div>
      <div class="header__logo-container"><i class="fas fa-tv"></i></div>
      <div class="header__nav-item">
        <a routerLink="/category/mental-health" routerLinkActive="active">MENTAL HEALTH</a>
      </div>
      <div class="header__nav-item">
        <a routerLink="/about" routerLinkActive="active">ABOUT</a>
      </div>
      <div class="header__nav-item">
        <a routerLink="/contact" routerLinkActive="active">CONTACT</a>
      </div>
    </nav>
  </div> -->

<!-- <form style="position:absolute; right: 20px;">
            <input type="text" name="search" placeholder="Search..">
        </form> -->
<!-- <div style="position:absolute; right: 20px;">
        <i style="color:white;" class="fab fa-facebook"></i>
        <i style="color:white;" class="fab fa-instagram"></i>
        <i style="color:white;" class="fab fa-github"></i>
      </div> -->
<!-- <navbar></navbar> -->
<!-- </header> -->
