<div class="main__container">
    <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
  <!-- <div class="img-slider"></div> -->
  <!-- <div class="main__category">
    <div class="grid">
      <div class="col-1-3">
        <div>
          <div class="main__category-img_box" id="dev"></div>
        </div>
      </div>
      <div class="col-1-3">
        <div class="main__category-img_box" id="prod"></div>
      </div>
      <div class="col-1-3">
        <div class="main__category-img_box" id="health"></div>
      </div>
    </div>
  </div> -->
  <div class="main__container-content">
    <div class="grid grid-pad">
      <div class="col-9-12">
        <div *ngFor="let post of posts | async" class="main__feed-container">
          <app-one-box [post]="post" [title]="post.title" [category]="post.category" [text]="post.text" [id]="post.id"></app-one-box>
          <!-- [title]="post.title" [text]="post.text"-->
          <!-- <app-one-box></app-one-box>
          <app-one-box></app-one-box>
          <app-one-box></app-one-box>
          <app-one-box></app-one-box> -->
          <!-- <app-three-box></app-three-box>
          <app-four-box></app-four-box>
          <app-two-box></app-two-box> -->
        </div>
      </div>
      <div class="col-3-12">
        <app-right-column></app-right-column>
      </div>
    </div>
  </div>
  <app-pagination></app-pagination>
</div>
<div class="spacer"></div>
