@import "src/assets/_variables";
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin position($type, $top: $position-default, $right: $position-default, $bottom: $position-default, $left: $position-default) {
  position: $type;
  $allowed_types: absolute relative fixed;
  @if not index($allowed_types, $type) {
    @warn "Unknown position: #{$type}.";
  }
  @each $data in top $top,
  right $right,
  bottom $bottom,
  left $left {
    #{nth($data, 1)}: nth($data, 2);
  }
}

@mixin absolute($top: $position-default, $right: $position-default, $bottom: $position-default, $left: $position-default) {
  @include position(absolute, $top, $right, $bottom, $left);
}

.test-wrapper {
  height: 100vh;
  background-color: $white-background-color;
}

.main-title {
  text-transform: uppercase;
  font-size: $font-size-h2;
  color: $pink;
  text-align: center;
  padding: 20px;
}

.section-title {
  font-size: $font-size-h4;
  color: $teal;
  padding: 20px;
}

.external-link {
  color: $orange;
  &:hover {
    color: darken($orange, 20%);
    cursor: pointer;
  }
}

.internal-link {
  color: $pink;
  &:hover {
    font-style: italic;
    color: darken( $pink, 20%);
    cursor: pointer;
  }
}

.social-icon {
  font-size: 45px;
  color: $primary-accent-color;
  padding: 10px 15px;
  transition: .2s ease-in-out;
  &:hover {
    cursor: pointer;
    color: darken($teal, 20%);
    font-size: 48px;
    transition: .2s ease-in-out;
  }
}

[class^="btn-"] {
  position: relative;
  overflow: hidden;
  @include size(100%, 60px);
  max-width: 150px;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 2px solid $black;
  padding: 10px;
}

.btn-10 {
  $btn-color: $purple;
  &:before,
  &:after,
  span:before,
  span:after {
    content: '';
    @include absolute(0, null, null, 0);
    @include size(0, 100%);
    background-color: rgba($purple, 0.35);
    transition: 0.4s;
  }
  &:after,
  span:before {
    left: auto;
    right: 0;
  }
  span:before,
  span:after {
    transition-delay: 0.4s;
  }
  &:hover {
    color: darken($black, 75%);
    &:before,
    &:after,
    span:before,
    span:after {
      width: 100%;
    }
  }
  &:active {
    background-color: $btn-color;
  }
}

.btn-outline {
    border: 2px solid $black-background-color;
    color: $black-font-color;
    font-weight: 700;
    padding: $padding-main-tb $padding-main-lr;
   // width: 100px;
    margin: auto;
    text-align: center;
    transition: .3s ease-in-out;
}

.btn-outline:hover{
        background-color: $tertiary-accent-color;
        color: $white-font-color;
        border: 2px solid $tertiary-accent-color;
        cursor: pointer;
        transition: .3s ease-in-out;
        font-stretch: wider;
}

