<div class="test-wrapper">
  <div class="main-title">Style Guide</div>
  <div class="test-container grid">
    <div class="col-6-12">
      <div class="section-title">Links</div>
      <div class="external-link">External Links</div>
      <div class="internal-link">Internal Links</div>
      <div class="spacer"></div>
      <div class="section-title">Buttons</div>
      <div style="margin-bottom: 20px">
        <a class="btn btn-outline">Hover</a>
      </div>
      <!-- <a class="btn-10">Main Button</a> -->
    </div>
    <div class="col-6-12">
      <div class="section-title">Social Media Buttons</div>
      <i class="fab fa-facebook-square social-icon"></i>
    </div>
    <div (click)="testAddArticle()" style="cursor: pointer; background-color: darkmagenta; padding:10px; width: 150px; color:white">CLICK HERE TO ADD A TEST ARTICLE</div>
    <div (click)="testAddComment()" style="background-color:darkslateblue; padding:10px; width: 150px; color:white">CLICK HERE TO ADD TEST COMMENT</div>
  </div>
</div>
