<div class="right-col__about_me-wrapper">
  <div class="right-col__about_me-container">
    <div class="right-col__about_me-title_text">ABOUT ME</div>
    <div class="right-col__about_me-pic">
      <img src="../../../assets/imgs/dummy/graphics/b&w_portrait.jpg">
    </div>
    <div class="right-col__about_me-text">
      NASA is not about the ‘Adventure of Human Space Exploration’…We won’t be doing it just to get out there in space – we’ll
      be doing it because the things we learn out there will be making life better for a lot of people who won’t be able
      to go. <a routerLink="/about" routerLinkActive="active" class="right-col__about-me-link">Learn More</a>
    </div>
  </div>
</div>