<div class="summary-box__two-container">
  <div class="grid">
    <div class="col-6-12">
      <div class="placer-color" style="height: 200px; width:100%;">
        left
      </div>
    </div>
    <div class="col-6-12">
      <div class="placer-color" style="height: 200px; width:100%;">
        right
      </div>
    </div>
  </div>
</div>
