<div class="summary-box__four-container">
  <div class="grid">
    <div class="col-1-4">
      <div class="placer-color" style="height: 200px; width:100%;">
        1
      </div>
    </div>
    <div class="col-1-4">
      <div class="placer-color" style="height: 200px; width:100%;">
        2
      </div>
    </div>
    <div class="col-1-4">
      <div class="placer-color" style="height: 200px; width:100%;">
        3
      </div>
    </div>
    <div class="col-1-4">
      <div class="placer-color" style="height: 200px; width:100%;">
        4
      </div>
    </div>
  </div>
</div>
