/****************************************COLORS*********************************************/
//sherbet
$teal: #25ced1;
$black:#1f1f24;
$white: #eeedec;
$orange: #ff8a5b;
$red: #ea526f;
$purple: #5b61c6;
$pink: #F61067; 
$yellow: #F7B267;
$yellow2: #EEC643;
$white2: #f9f9f9;
$black-font-color:              $black !default;
$white-font-color:              $white !default;

$primary-accent-color:          $teal !default;
$secondary-accent-color:        $pink !default;
$tertiary-accent-color:         $purple !default;
$transparent-color:            transparent !default;

$link-color:                   $primary-accent-color;
$link-disabled-color:          #666666 !default;

$black-background-color:       $black !default;
$white-background-color:       $white2 !default;
//$light-grey-background-color:  lighten($gray-color, 30%) !default;

$gray-border-color:            darken($white, 10%) !default;
$white-border-color:         #efefef !default;

$divider-color:                #DFDFDF !default;

$font-size-h1:                 3.2em   !default;
$font-size-h2:                 2.6em   !default;
$font-size-h3:                 1.825em !default;
$font-size-h4:                 1.5em   !default;
$font-size-h5:                 1.25em  !default;
$font-size-h6:                 0.9em   !default;
$font-paragraph:               16px    !default;
$font-size-navbar:             16px    !default;
$font-size-small:              12px    !default;

$font-weight-light:          300 !default;
$font-weight-normal:         400 !default;
$font-weight-semi:           500 !default;
$font-weight-bold:           600 !default;

$border-radius: 15px;
$edge-padding: 20px;




$padding-main-tb:      10px !default;
$padding-main-lr:    18px !default;

$padding-lg-tb:       11px !default;
$padding-lg-lr:     30px !default;

$padding-md-tb:       8px !default;
$padding-md-lr:     20px !default;

$padding-sm-tb:        4px !default;
$padding-sm-lr:     10px !default;

$padding-xs-tb:           2px !default;
$padding-xs-lr:         5px !default;

$padding-label-tb:        2px !default;
$padding-label-tr:     12px !default;

$padding-sm: 10px !default;
$padding-md: 20px !default;
$padding-lg: 30px !default;
$padding-xl: 50px !default;

$dropdown-shadow:          0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(17, 16, 15, 0.1);
$border-shadow: 0 0 8px 1px $white-border-color;
$font-right-col-header: 'Pompiere', cursive;
$font-summary-header: 'Comfortaa', sans-serif;

    // font-family: 'Satisfy', cursive;
    //font-family: 'Shadows Into Light Two', cursive;
    
    //font-family: 'Sue Ellen Francisco', cursive;
    //font-family: 'Calligraffitti', cursive;
    //font-family: 'The Girl Next Door', cursive;
    //font-family: 'Pompiere', cursive;
    //font-family: 'Walter Turncoat', cursive;
    //font-family: 'Patrick Hand SC', cursive;
   // font-family: 'Shadows Into Light', cursive;
    //font-family: 'Comfortaa', cursive;