<ul class="dropdown__menu_body">
  <!-- <li *ngFor="let item of menuItems">
        <div class="dropdown__menu_item">
            {{item}} 
          </div>
    </li> -->
  <li routerLink="/home" routerLinkActive="active">
    <div class="dropdown__menu_item">
      HOME
    </div>
  </li>
  <li [routerLink]="['/category', 'dev-tips']" routerLinkActive="active">
    <div class="dropdown__menu_item">
      DEV TIPS
    </div>
  </li>
  <li [routerLink]="['/category', 'soft-skills']" routerLinkActive="active">
    <div class="dropdown__menu_item">
      SOFT SKILLS
    </div>
  </li>
  <li [routerLink]="['/category', 'mental-health']" routerLinkActive="active">
    <div class="dropdown__menu_item">
      MENTAL HEALTH
    </div>
  </li>
  <li routerLink="/about" routerLinkActive="active">
    <div class="dropdown__menu_item">
      ABOUT
    </div>
  </li>
  <li routerLink="/contact" routerLinkActive="active">
    <div class="dropdown__menu_item">
      CONTACT
    </div>
  </li>
</ul>
