@import "./assets/simplegrid";
@import "./assets/crow";
@import "./assets/mixins";
@import "./assets/_variables";
@import "./assets/styles/_dropdown";
@import "./assets/styles/_searchbar";
@import "./assets/styles/_main";
@import "./assets/styles/_header";
@import "./assets/styles/_footer";
@import "./assets/styles/_summary-box";
@import "./assets/styles/_right-col";
@import "./assets/styles/_buttons";
@import "./assets/styles/_about";
@import "./assets/styles/_posts";
@import "./assets/styles/_category-page";
@import "./assets/styles/_search";
@import "./assets/styles/_loading-spinner";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic);
// fonts
$font-family: 'Lato', Helvetica, sans-serif;
$font-family3: 'Open Sans', Helvetica, sans-serif;
body, *{
  margin: 0;
  font-family: $font-family3;
}
*, *::before, *::after{
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
}
.spacer{
  height: 20px;
  background-color: $white-background-color;
}
.feed-body{
  background-color: antiquewhite;
}

.featured{
  height: 200px;
  background-color: lightgreen;
}
.box{
  margin:auto;
  height: 100%;
  width: 75%;
  background-color: cornflowerblue;
  cursor:pointer;
  padding: 15px;
}

.bgimg1 {
  background-image: url(./assets/imgs/dummy/main_1440x900.png);
  min-height: 600px;

}
.bgimg2 {
  background-image: url(./assets/imgs/dummy/1024x786.png);
  min-height: 500px;
}

.bgimg1, .bgimg2, bgimg3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
      background-attachment: scroll;
  }
}

.title-box{
  width: 336px;
  text-align: center;
  opacity: .7;
  height: 50px;
  background-color: $white-background-color;
  position: absolute;
  bottom: 100px;
}


.img-slider {
  height:500px;
  width:80%;
  margin: auto;
  background-image: url("./assets/imgs/dummy/1024x786.png")
}

.placer-color{
  background-color: $white-background-color;
}

.main__container,
.post__container,
.category__container,
.about__container{
}