<div class="search__wrapper">
  <div class="search__container">
    <form [formGroup]="searchForm" (keydown)="onEnter($event)">
      <fieldset>
        <input type="text" formControlName="searchField">
      </fieldset>
    </form>
  </div>
</div>

  