// .btn{
//     width: 100%;
// }
.btn-outline {
  border: 2px solid $black-background-color;
  color: $black-font-color;
  font-weight: 700;
  padding: $padding-main-tb $padding-main-lr; // width: 100px;
  margin: auto;
  text-align: center;
}

.btn-outline:hover {
  background-color: $tertiary-accent-color;
  color: $white-font-color;
  border: 2px solid $tertiary-accent-color;
  cursor: pointer;
  box-shadow: $border-shadow;
}
