.category__container{
    // padding-top: 135px;
}
.main__category-content{
    background-color: $white-background-color;
}

.category__header{
    // height: 150px;
    // color: $primary-accent-color;
    // font-size: 60px;
    background-color: $white-background-color;
    display:flex;
    justify-content: center;
    padding-bottom: $edge-padding;
    & span {
        align-self: flex-end;
        position: relative;
        left: 20%;
    }
   // border-bottom: 2px solid $primary-accent-color;

    @include for-phone-only{
        height: 75px;
        & > span{
            left: 10%;
            font-size: 40px;
        }
    }

}

.category__header-title{
    & > img{
        height: 80px;
        position: relative;
        top: 20%;
    }

}
.category__row{
    display:flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    @include for-phone-only{
        flex-direction: column;
        padding: 0;
    }
}

 .category__post-box{
    background-color: white;
    width: 30%;
    height: 350px;
    margin-right: 20px;
    margin-bottom: $edge-padding;
    cursor: pointer;
    &:hover{
        box-shadow: 5px 6px 18px $gray-border-color;
    }
    @include for-phone-only{
        width: 100%;
        margin-right: 0;
    }
}

.category__post-box-text{
    padding: 10px;
    font-weight: 800;
}
.category__post-box_img{
    height:220px;
    background-image: url(./assets/imgs/dummy/250x220.png);
    @include for-phone-only{
        background-image: url(./assets/imgs/dummy/385x220.png);
    }
}