// 90s
$navy: #011627;
$white: #FDFFFC;
$teal: #2EC4B6;
$red: #E71D36;
$yellow: #FF9F1C;

// jasmine
$black: #1e1e24;
$purple: #6d425a;
$mint: #b1ede7;
$white: #fffcf9;
$red: #ff6978;

//flamingo
$black: #1e1e24;
$pink: #fb9f89;
$white: #c4c0bd;
$blue: #81ae9d;
$aqua: #21a179;

//sherbet
$teal: #25ced1;
$black:#1f1f24;
$white: #eeedec;
$orange: #ff8a5b;
$red: #ea526f;