.dropdown__container{
  background-color: $white-background-color;
  border: 0 none;
  z-index: 99999;
  position: absolute;
  // @include box-shadow($dropdown-shadow);
  & > ul{
    padding: 0;
  }
}

.dropdown__menu_body{
  position: relative !important;
  display: block;
  align-self: center;
  width: 100%;
  margin: 0;
  //margin: -.25rem 0 0 10%; // -.25rem top (animation).
  padding: 0.25rem;
  list-style-type: none;
  transition: .2s all ease-in;
}

.dropdown__menu_item {
  padding: $padding-main-tb $padding-main-lr;
  text-align: center;
  color: $black-font-color;
  align-self: center;
  min-width: 100px;
  &:hover{
    background-color: $primary-accent-color;
    color: white;
    cursor: pointer;
  }
  display: block;
  transition: .2s background-color ease-in;
}


