@import "../variables";
.footer__container,
.footer__nav,
.header__nav-top,
.header__nav,
.header__logobar {
  display: flex;
}

.header__wrapper {
  height: 200px; // padding: 28px 0;
  background-color: $white-background-color;
  @include for-phone-only {
    padding-top: 40px;
  }
}

.header__mobile-menu-wrapper {
  position: relative;
  top: 58px;
  right: 50px;
  @include for-tablet-portait-only {}
  @include for-phone-only {
    top: 30%;
    right: 40%;
    padding-left: 2em;
  }
}

.header__mobile-menu-icon-wrapper {
  padding: 5px;
  &>i {
    color: $white-font-color;
  }
  &:hover {
    cursor: pointer;
  }
}

.header__diamond-wrapper {
  position: relative;
  top: 30px;
  padding: 0 10px;
  @include for-phone-only {
    top: -4px;
  }
}

.header__nav-wrapper {
  display: flex;
  justify-content: center;
  background-color: $purple;
  @include for-phone-only {
    height: 70px;
  }
}

.header__nav-item {
  padding: 55px 30px;
  &>a {
    color: $white;
    text-decoration: none;
  }
  @include for-tablet-landscape-only {
    padding: 30px 0px;
    font-size: 14px;
  }
  @include for-tablet-portait-only {
    padding: 30px 10px;
    font-size: 14px;
  }
  @include for-phone-only {
    display: none;
  }
}

.header__logo-wrapper {
  position: absolute;
  top: 20%;
  left: 22%;
  z-index: 100;
  &>i {
    font-size: 60px;
    color: $white;
  }
  @include for-phone-only {
    left: 20%;
    &>i {
      font-size: 40px;
    }
  }
}

.header__title-wrapper {
  background-color: $white-background-color;
  width: 181px;
  position: absolute;
  top: 3em;
  left: -3em;
  box-shadow: 5px 10px $black;
  transition: 1.5s ease-in-out;
}

.header__title {
  color: $black-font-color;
  font-size: $font-size-h5;
  padding: 6px 12px;
  margin: auto;
  transition: .5s ease-in-out;
}

.header__diamond {
  background: $pink;
  background: -moz-linear-gradient(-30deg, $pink 0%, $pink 25%, $teal 50%, $yellow2 80%, $orange 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-30deg, $pink 0%, $pink 25%, $teal 50%, $yellow2 80%, $orange 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(120deg, $pink 0%, $pink 25%, $teal 58%, $orange 80%, $orange 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 400% 400%;
  background-repeat: no-repeat;
  display: flex;
  width: 120px;
  height: 120px; // max-width: 100vw;
  // max-height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: .5s all;
  transform: rotate(45deg);
  box-shadow: 9px -1px 21px darken($pink, 40%);
  &:hover {
    background-position: 100% 100%;
  }
  @include for-tablet-portait-only {
    width: 90px;
    height: 90px;
  }
  @include for-phone-only {
    width: 80px;
    height: 80px;
  }
}

.hover-effect-1 a:hover::before,
.hover-effect-1 a:hover::after,
.hover-effect-1 a:focus:before,
.hover-effect-1 a:focus::after {
  opacity: 1;
  transform: translateX(0px);
}

.hover-effect-1 a::before {
  font-size: 20px;
  color: $red;
  margin-right: 10px;
  content: "[";
  transform: translateX(20px);
}

.hover-effect-1 a::before,
.hover-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
}

.hover-effect-1 a::after {
  font-size: 20px;
  color: $red;
  margin-left: 10px;
  content: "]";
  transform: translateX(-20px);
}

.header__nav,
.footer__nav {
  @include for-phone-only {
    flex-direction: column;
    text-align: center;
  }
  @include for-tablet-portrait-up {
    flex-direction: column;
    text-align: center;
  }
  @include for-tablet-landscape-up {
    flex-direction: row;
    align-items: stretch;
  }
}

.header__nav:hover .header__nav-item,
.header__nav-item-top,
.footer__nav_item,
.footer__nav_item:hover {
  display: block;
}

.header__nav-item-top {
  font-size: $font-size-small;
  color: $white-font-color;
  padding: 12px 20px;
  & a {
    color: $white-font-color;
    text-decoration: none;
  }
}

.footer__nav {
  background-color: #17171b;
  box-shadow: 0 0 3px 1px #37373f;
  display: flex;
  justify-content: center;
}

.footer__nav_container {
  display: flex;
}

.footer__nav_item {
  padding: 18px 30px;
}

.footer__nav_item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer__container {
  background-color: $black-background-color;
  height: 40px;
  width: 100%;
  flex-direction: column;
  height: 448px;
  div {
    color: $white-font-color;
  }
}

.footer__social-icon {
  font-size: 20px;
  @include icon( $white-font-color, $primary-accent-color,#37373f);
  padding: 10px 20px;
}

.footer__social-body {
  display: flex;
}

.foot_copyright_bar {
  width: 100%;
  height: 40px;
  text-align: center;
  border-top: 1px solid $gray-border-color;
}

.footer__row {
  height: 100%;
}

// .header__container-wrapper {
//   //height: 195px;
//   @include for-tablet-portait-only {
//     height: 430px;
//   }
//   @include for-phone-only {
//     height: 430px;
//   }
// }
// .header__container-wrapper::before{
//   content: "";
//   position: relative;
//   height: 9px;
//   top: 0px;
//   left: 0;
//   width: 100%;
//   display: block;
//   background: url(./assets/imgs/dummy/1440x900.png) repeat-x;
//   background-size: auto 100%;
//  }
// .header__logo-container{
//   position: relative;
//   top: 2em;
//   & > i {
//     color: $white-font-color;
//     font-size: 50px;
//   }
// }
// .header__container {
//   color: $black-font-color;
// }
// .header__container {
//   top: 0;
//   left: 0;
//   width: 100%;
//   z-index: 200;
//   transition: transform 0.7s .1s ease;
//   backface-visibility: hidden;
//   position: fixed;
// }
// .fixed {
//   backface-visibility: hidden;
// }
// .header__logobar {
//   &>img {
//     height: 75%;
//   }
//   @include for-phone-only {
//     height: 100px;
//     &>img {
//       height: 75%;
//     }
//   }
//   @include for-tablet-portait-only {
//     height: 100px;
//   }
//   @include for-tablet-landscape-up {
//     height: 140px;
//   }
//   width: 100%;
//   justify-content: center;
//   background-color: white;
// }
// .header__nav {
//   background-color: $tertiary-accent-color;
//   justify-content: center;
// }
// .header__nav-top {
//   justify-content: flex-start;
// }
// .header__nav-item {
//   padding: 60px 30px;
//   & a {
//     color: $white-font-color;
//     text-decoration: none;
//   }
// }
// .header__nav-item:hover {
//   background-color: $secondary-accent-color;
//   text-decoration: underline;
//   cursor: pointer;
// }
