.main__container-content {
    min-height: 560px;
    background-color: $white-background-color;
    position: relative;
    // top: 195px;
    // left:0px;
   // padding-top: 142px;
}
.main__category{
    height:250px;
    width: 100%;
    padding: $edge-padding 0;
}
.main__feed-container{
    box-shadow: $border-shadow;
}

.main__category-img_box{
    height: 250px;
    width: 310px;
    margin-left:20px;
}

#dev {
 background-image: url(./assets/imgs/dummy/300x250.png);
}

#prod {
    background-image: url(./assets/imgs/dummy/300x250.png);
}

#health {
    background-image: url(./assets/imgs/dummy/300x250.png);
}