@import "./assets/_variables";
.post-preview__two_col-img-left{
    text-align: center;
}

.post-preview__two_col-img-right{
    text-align: center;
}

.post-preview__two_col-img-left,.post-preview__two_col-img-right{
    height:600px;
    padding-top: 20px;
    width: fill-available;
}

.post-preview__img_box{
    background-image: url(./assets/imgs/dummy/554x445.png);
    background-position: center;
    height: 445px;
    width: 554px;
}

.post-preview__text_box{
    height: 445px;
}

.post-preview__title{
    text-align: center;
    padding: $edge-padding;
    font-size: $font-size-h3;
    color: $primary-accent-color;
}

.post-preview__color_bar{
    width:100%;
    max-width: 100%;
    background-color: $primary-accent-color;
    height: 300px;
    padding: $edge-padding;
}

.post-preview__color_bar-text {
    color: $white-font-color;
    padding: $edge-padding;
}

.post-preview__three_col{
    height: 400px;

}
.post-preview__three_col-row{
    display: flex;
    justify-content: center;
    padding: $edge-padding;
}
.grid-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}