.post__wrapper {
  background-color: $white-background-color;
//   padding-top: 142px;
}

.post__container {
 
}

.post__title {
  font-size: $font-size-h1;
  font-weight: 800;
}
.post__title-container{
    border-bottom: 1px solid $gray-border-color;
}
.post__header{
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    //font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    letter-spacing: -.02em;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0;
    font-size: 34px;
    margin-left: -2.13px;
    line-height: 1.15;
    letter-spacing: -.015em;
}
.post__section-header{

}
.post__paragraph {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    //font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.58;
    letter-spacing: -.003em;
    margin-top: 29px;
}

.post__share-box-wrapper{
    height: 100px;
    position: fixed;
    width: 75px;
    left: 16em;
    top: 16em;
}
.post__share-box{
    display: flex;
    flex-direction: column;
    background-color: $teal;
}

.post__share-box__social-icon{
    color: $white-font-color;
    font-size: 30px;
    padding: 10px 20px;
}
.post__comment-icon {
  font-size: 30px;
  padding: 10px 20px;
  &:hover {
    cursor: pointer;
    color: $secondary-accent-color;
  }
}

.post__sharebar,
.post__comment_list-container{
    margin-top: $edge-padding;
}
.post__sharebar,
.post__container,
.post__comment_form-container,
.post__comment_list-container {
  background-color: white;
  padding: $edge-padding;
}

// .post__comment_form-container{
//     margin-bottom: $edge-padding;
// }
.post__comment_form-body{
    border:0;
}

.post__comment_form-component{
    display: flex;
    flex-direction: column;

}

.post__comment_list-title{
    border-bottom: 1px solid $gray-border-color;
    font-weight: 600;
    padding-bottom: 5px;
}

.post__comment_list-comment_box{
    padding: $edge-padding;
    display: flex;
}

.post_comment_list_comment_row{
    padding-left: $edge-padding;
}

.post__comment_list-name{
    color: $primary-accent-color;
    font-weight: 600;

}