.right-col__about_me-wrapper, 
.right-col__post-wrapper, 
.right-col__social-container,
.right-col__tag-wrapper{
    //border: 1px solid $gray-border-color;
    margin-bottom: $edge-padding;
    background-color:white;
    box-shadow: $border-shadow;
}

.right-col__post-container, 
.right-col__about_me-container,
.right-col__tag-container {
    padding: $edge-padding;
}

.right-col__about_me-title_text, 
.right-col__post-title,
.right-col__tag-title{
    border-bottom: 1px solid $gray-border-color;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
/* ABOUT ME */
.right-col__about_me-wrapper {
    height: 450px;
}

.right-col__about_me-container {
    height: 300px;
}

.right-col__about_me-pic {
    // background-image: url(./assets/imgs/dummy/graphics/b&w_portrait.jpg);
    &> img{
        height: 195px;
    }
    width: 100%;
    @include for-tablet-portait-only{
        width: 340px;
        margin: auto;
    }

    @include for-phone-only{
        background-image: url(./assets/imgs/dummy/250x220.png);
        margin: auto;
    }
}
.right-col__about-me-link,
.right-col__about_me-text{
    font-size: 14px;
}
.right-col__about_me-title_text,
.right-col__post-title,
.right-col__tag-title{
    font-weight: 600;
    font-family: $font-right-col-header;
}
.right-col__about_me-text {
    padding-top: $edge-padding;
    text-align: center;
    @include for-phone-only{
        font-size: $font-paragraph;
    }
}

.right-col__about-me-link{
    color: $orange;
    font-weight: 700;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        font-style: italic;
    }
}
/* SOCIAL */
.right-col__social-container{
}
.right-col__social-icon{
    font-size: 45px;
    color: $primary-accent-color;
    padding: 10px 15px;
}

.right-col__social-body{
    display: flex;
    justify-content: center;

}
/* POST */
.right-col__post-wrapper {

}
.right-col__post-item {
    font-size: 14px;
    color: $black-font-color;
    border-bottom: 1px dashed $secondary-accent-color;
    margin-bottom: 5px;
    padding-bottom: 2px;
    &:hover{
        color: $primary-accent-color;
        font-style: italic;
        cursor: pointer;
    }
}
.right-col__post-row{
    display: flex;
   margin-bottom: 20px;
    flex-direction: row;
}
.right-col__post-box{
    // background-color: $white-background-color;
    height: 150px;
    width: 120px;
    margin: auto;
    box-shadow: 5px 5px 2px $white-background-color;
}

.right-col__post-box_img{
    & > img {
        width: 120px;
    }
    
}
.right-col__post-box-text {
    text-align: center;
    font-weight: 600;
    padding-top: 10px;
}
/* TAG */
.right-col__tag-title {
    margin-bottom: 10px;
}

.right-col__tag-wrapper{
    height: 100%;
}

.right-col__tag-item{
    background-color: $primary-accent-color;
    padding: 6px 14px;
    margin-right: 10px;
    margin-top: 10px;
}
.right-col__tag-body{
    display: flex;
    flex-wrap: wrap;
}
