$background-color: $purple;
$search-bg-color: $purple;
$icon-color: $white;
$transition: all .5s ease;
* {
  box-sizing: border-box;
}
.search {
  width: 60px;
  height: 60px;
  margin: 40px auto 0;
  background-color: $search-bg-color;
  position: absolute;
  top: 15px;
  right: 10px;
  overflow: hidden;
  transition: $transition;
  &:before {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    position: relative;
    background-color: $icon-color;
    transition: $transition;
  }
  &.open {
    width: 420px;
    &:before {
      height: 40px;
      margin: 10px 0 20px 30px;
      position: absolute;
    }
  }
}

.search-box {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: none;
  background: transparent;
  color: #fff;
  padding: 20px 100px 20px 45px;
  font-size: 20px;
  &:focus {
    outline: none;
  }
}

.search-button {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  cursor: pointer;
}

.search-icon {
  width: 25px;
  height: 25px;
  border-radius: 40px;
  border: 3px solid $icon-color;
  display: block;
  position: relative;
  margin-left: 35px;
   margin-top: -10px;
  transition: $transition;
  &:before {
    content: '';
    width: 3px;
    height: 11px;
    position: absolute;
    right: -3px;
    top: 18px;
    display: block;
    background-color: $icon-color;
    transform: rotate(-45deg);
    transition: $transition;
  }
  &:after {
    content: '';
    width: 3px;
    height: 11px;
    position: absolute;
    right: -11px;
    top: 26px;
    display: block;
    background-color: $icon-color;
    transform: rotate(-45deg);
    transition: $transition;
  }
  .open & {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    &:before {
      transform: rotate(52deg);
      right: 14px;
      top: 15px;
      height: 14px;
    }
    &:after {
      transform: rotate(-230deg);
      right: 14px;
      top: 7px;
      height: 14px;
    }
  }
}