//.summary-box__one-container,
.summary-box__two-container,
.summary-box__three-container,
.summary-box__four-container {
  width: 100%;
  padding: $edge-padding 0;
  margin-bottom: 40px;
  //border: 1px solid $gray-border-color;
  background-color: white;
}

.summary-box__one-container {
  background-color: white;
  margin-bottom: 40px;
}


.summary-box__one-body{
  display: flex;
  padding: $edge-padding 0;
  @include for-phone-only {
    flex-direction: column;
  }

  @include for-tablet-portrait-up {
    flex-direction: column;
  }

  @include for-tablet-portait-only{
    flex-direction: row;
  }

  @include for-tablet-landscape-up{
    flex-direction: row;
  }
  
}
.summary-box__one-img {
  //background-image: url(./assets/imgs/dummy/320x240.png);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  margin-left: 20px;

  & > img{
    height: 260px;
    width: 320px;
  }
  &:hover{
    cursor: pointer;
    & > img{
      box-shadow: 0 0 8px 1px $gray-border-color;
    }
  }

  @include for-phone-only {
    background-image: url(./assets/imgs/dummy/480x240.png);
    height: 260px;
    width: 480px;
    margin: auto;
  }
}

.summary-box__one-text_box {
  height: 260px;
  width: 60%;
  padding: 0 $edge-padding;
  
  @include for-phone-only {
    margin: auto;
    padding: 20px;
    width: 100%;
  }
}
.summary-box__one-title {
  font-size: $font-size-h4;
 //font-family: 'Comfortaa', cursive;
  font-weight: 700;
   &:hover{
    color: $primary-accent-color;
    cursor: pointer;
  }
}
.summary-box__one-text {
  padding-top: $edge-padding;
  line-height: 1.33em;
}

.summary-box__byline{
  padding-top: 10px;
  font-size: $font-size-small;
  text-transform: uppercase;
  & > .summary-box__byline-category-link{
    color: $pink;
    &:hover{
      color: darken( $pink, 20%);
      cursor: pointer;
    }
  }
}
.summary-box__one-button{
  width: 140px;
  padding-top: $edge-padding;
  margin: auto;
  position: relative;
  top: 3em;
}
.summary-box__two-container {
  width: 100%;
}

.summary-box__three-container {
  //height: 400px;
}

.summary-box__four-container {
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid $gray-border-color;
}

