<div *ngIf="isCommentFormVisible" class="post__comment_form-container">
    <form [formGroup]="commentForm" (ngSubmit)="submitComment(commentForm.value)">
      <fieldset class="post__comment_form-body">
        <div>
          <div class="post__comment_form-component">
            <label for="comment">Comment:</label>
            <textarea rows="4" cols="50" formControlName="comment"></textarea>
          </div>
          <div style="display:flex">
            <div class="post__comment_form-component">
              <label for="name">Name:</label>
              <input type="text" formControlName="name" placeholder="Name">
            </div>
            <div class="post__comment_form-component">
              <label for="email">Email:</label>
              <input type="text" formControlName="email" placeholder="Email">
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="post__comment_list-container">
    <!--*ngIf="isCommentListVisible"-->
    <div class="post__comment_list-body">
      <div class="post__comment_list-title">
        {{commentSize}} Comments
      </div>
      <div *ngFor="let comment of comments | async" class="post__comment_list-comment_box">
        <div class="post__comment_list-img">
          <img src="../../assets/imgs/dummy/50x50.png">
        </div>
        <div class="post_comment_list_comment_row">
          <div class="post__comment_list-name">{{comment.name}}</div>
          <div class="post__comment_list-comment">{{comment.comment}}</div>
          <div>
            <i class="fas fa-chevron-up"></i>
            <i class="fas fa-chevron-down"></i>
          </div>
        </div>
      </div>
    </div>
  </div>