<div class="right-col__container">
  <app-about-me-box *ngIf="isAboutMeShown"></app-about-me-box>
  <app-social-box *ngIf="isSocialShown"></app-social-box>
  <app-post-box *ngIf="isPostShown"></app-post-box>
  <app-tag-box *ngIf="isTagShown"></app-tag-box>
</div>
